<!DOCTYPE html>
<html lang="en">
    <head>
        <title>COFF's kaffebar</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/deli-very.css">
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="/vue/vue.js" defer></script>
        <!-- <link rel="stylesheet" type="text/css" href="/css/reset.css"> -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="icon" href="/img/favicon.png" type="image" sizes="16x16">
        <script src="/js/menu.js" defer></script>
        <script src="/js/js_script.js" defer></script>
        <script src="/js/vue_script.js" defer></script>
    </head>
    <body>
        <header id="header">
            <img src="/img/headerimage.jpg" class="headerimage"/>
            <h1 id="headline"></h1>
        </header>
        <main id="vue">
            <section class="section_menyval">
                <h3 id="coffeeMenu"></h3>
                    <p id="menuChoice"></p>
                <div class="wrapper">
                    <div class="box" v-for="coffee in coffeeList">
                        <h3 class="coffeeTitle">
                            {{ coffee.name }}
                        </h3>
                        <img class="kaffebild " :src = "coffee.image">
                        <ul>
                            <li>
                                {{ coffee.choice1 }}
                            </li>
                            <li>
                                {{ coffee.choice2 }}
                            </li>
                            <li>
                                {{ coffee.choice3 }}
                            </li>
                        </ul>
                        <label for="checkedCoffee"><p id="checked">Välj {{coffee.name}}</p></label>
                        <input type="checkbox" class="checkedCoffee" :value=coffee.name name="checkBox">
                    </div>
                </div>
            </section>

            <section class="section_kontaktinfo">
                <h3>Leveransinformation</h3>
                    <p>Namn- och adressuppgifter:</p>
                        <form id="form">
                            <p><label for="fnln">För- och efternamn:</label><br>
                            <input type="text" id="fnln" name="name" maxlength="50" required="required" placeholder="Ange ditt för- och efternamn"> <!-- attributet maxlength anger hur lång inputen max får vara -->
                            </p>
                            <!--
                            <p><label for="address">Leveransadress:</label><br>
                            <input type="text" id="address" name="adress" required="required" placeholder="Ange leveransadress">
                            </p>
                            <p><label for="number">Gatunummer:</label><br>
                            <input type="number" id="number" name="number" required="required" placeholder="Ange gatunummer">
                            </p>
                            -->
                            <p><label for="email">E-postadress:</label><br>
                            <input type="email" id="email" name="em" required="required" placeholder="Ange din e-postadress">
                            </p>
                            <p><label for="paymethod">Jag vill betala med:</label></p>
                        <select id="paymethod" name="payment">
                            <option selected="selected">Betalkort</option> <!-- Attribute Selected, förvalt alternativ -->
                            <option>Swish</option>
                            <option>Kreditfaktura</option>
                            <option>Medlemspoäng</option>
                            <option>Presentkort</option>
                        </select>

                        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ ->
                        <div id="card">
                            <label class="cardlabels" for="cardnumber">Kortnummer:</label><br>
                            <input id="cardnumber" type="number" required="required" name="cardnumber" placeholder="XXXX XXXX XXXX XXXX"><br>
                            <label class="cardlabels" for="expirydate">Giltighetstid:</label><br>
                            <input id="expirydate" type="number" required="required" name="expirydate" placeholder="MM/YY" max="999">
                            <label class="cardlabels" for="cvc">CVC:</label><br>
                            <input id="cvc" type="number" required="required" name="cvc" placeholder="XXX">
                        </div>
                        < @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

                            <p class="genderTitle"><label for="gender">Ange kön:</label></p>
                            <p class="gender"><input type="radio" id="man" name="gender" value="Man"><label for="man"> Man </label></p>
                            <p class="gender"><input type="radio" id="kvinna" name="gender" value="Kvinna"><label for="kvinna"> Kvinna </label></p>
                            <p class="gender"><input type="radio" id="nonbinary" name="gender" value="Ickebinär"><label for="nonbinary"> Ickebinär </label></p>
                            <p class="gender"><input type="radio" id="annat" name="gender" value="Annat" checked="checked"><label for="annat"> Annat </label></p>
                        </form>

                        <h3>Markera din leveransadress på kartan:</h3>

                        <div class="view-box">
                          <div id="dots" v-on:click="displayOrder">
                              <div v-for="(order, key) in orders"
                                   v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
                                      {{key}}
                              </div>
                          </div>
                        </div>

                    <div class="bottomButton">
                        <button id="orderButton" v-on:click="addOrder()" type="submit"><img src="/img/sendicon.png" height="25px" width="25px"> Bekräfta din kaffeorder! </button>
                    </div>

                    <div id="alertField">

                    </div>
            </section>
            <h3> Orderbekräftelse: </h3>
            <h4 v-for="order in orderDetails">
                <ul>
                    <li>{{ order }}</li>
            </h4>
            <div id="orderConfirmation" v-for="item in customerDetails">
                <ul>
                    – {{ item }}
                </ul>
            </div>
        </main>
        <hr>                                                        <!-- Horizontal line -->
        <footer>COFF's kaffebar &copy; 2020</footer>                <!-- copyright sign -->
    </body>
</html>
