<!DOCTYPE html>
<html lang="en">
    <head>
        <title>COFF's kaffebar</title>
        <meta charset="utf-8"/>
        <!-- <link rel="stylesheet" type="text/css" href="/css/reset.css"> -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="icon" href="/img/favicon.png" type="image" sizes="16x16">
        <script src="/js/js_script.js"></script>
        <script src="https://vuejs.org/js/vue.js"></script>
        <script src="/js/vue_script.js"></script>
    </head>
    <body>
        <main>
            <header id="header">
                <img src="/img/headerimage.jpg" class="headerimage">
                <h1 id="headline">Välkommen till COFF's kaffebar</h1>
            </header>

            <!-- Varför kan inte h1-taggen ligga inuti section utan att hamna bakom bilden? Ordningen verkar inte spela någon roll? -->


            <section class="section_menyval">
                <h3>Kaffemeny</h3>
                    <p>Välj typ av kaffe:</p>

                <div class="wrapper">
                    <div class="box cappuccino">
                        <p>Cappuccino</p>
                        <img class="kaffebild" src="/img/cappuccino.jpg", alt="Cappuccino", title="Cappuccino", widht=175px, height=175px>
                        <ul style="list-style-type: none;">
                            <li>– Sojamjölk</li>
                            <li>– Havremjölk</li>
                            <li>– Mandelmjölk</li>
                        </ul>
                    </div>

                    <div class="box espresso">
                        <p>Espresso</p>
                        <img class="kaffebild" src="/img/espresso.jpg", alt="Espresso", title="Espresso", widht=175px, height=175px>
                        <ul style="list-style-type: none;">
                            <li>– Enkel</li>
                            <li>– Doppio</li>
                            <li>– Triplo</li>
                        </ul>
                    </div>

                    <div class="box bryggkaffe">
                        <p>Bryggkaffe</p>
                        <img class="kaffebild" src="/img/bryggkaffe.jpg", alt="Bryggkaffe", title="Bryggkaffe", width="175px", height="175px">
                        <ul style="list-style-type: none;">
                            <li>– Mellanrost</li>
                            <li>– Mörkrost</li>
                            <li>– Extra mörkrost</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="section_kontaktinfo">

                <div id="js">
                    {{ arbitraryVariableName }}
                </div>

                <h3>Leveransinformation</h3>
                    <p>Namn- och adressuppgifter:</p>
                        <form>
                            <p><label for="fnln">För- och efternamn:</label><br>
                            <input type="text" id="fnln" name="name" maxlength="50" required="required" placeholder="Ange ditt för- och efternamn"> <!-- attributet maxlength anger hur lång inputen max får vara -->
                            </p>
                            <p><label for="address">Leveransadress:</label><br>
                            <input type="text" id="address" name="adress" required="required" placeholder="Ange leveransadress">
                            </p>
                            <p><label for="email">E-postadress:</label><br>
                            <input type="email" id="email" name="em" required="required" placeholder="Ange din e-postadress">
                            </p>
                            <p><label for="number">Gatunummer:</label><br>
                            <input type="number" id="number" name="number" required="required" placeholder="Ange gatunummer">
                            </p>
                            <p><label for="paymethod">Betalning:</label><br></p>
                        <select id="paymethod" name="payment">
                            <option selected="selected">Betala med kort</option> <!-- Attribute Selected, förvalt alternativ -->
                            <option>Swish</option>
                            <option>Kreditfaktura</option>
                            <option>Medlemspoäng</option>
                            <option>Presentkort</option>
                        </select>
                        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ ->
                        <div id="card">
                            <label class="cardlabels" for="cardnumber">Kortnummer:</label><br>
                            <input id="cardnumber" type="number" required="required" name="cardnumber" placeholder="XXXX XXXX XXXX XXXX"><br>
                            <label class="cardlabels" for="expirydate">Giltighetstid:</label><br>
                            <input id="expirydate" type="number" required="required" name="expirydate" placeholder="MM/YY" max="999">
                            <label class="cardlabels" for="cvc">CVC:</label><br>
                            <input id="cvc" type="number" required="required" name="cvc" placeholder="XXX">
                        </div>
                        < @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

                            <p class="genderTitle"><label for="gender">Ange kön:</label></p>
                            <p class="gender"><input type="radio" id="man" name="gender" value="man"><label for="man"> Man </label></p>
                            <p class="gender"><input type="radio" id="kvinna" name="gender" value="kvinna"><label for="kvinna"> Kvinna </label></p>
                            <p class="gender"><input type="radio" id="nonbinary" name="gender" value="nonbinary"><label for="nonbinary"> Ickebinär </label></p>
                            <p class="gender"><input type="radio" id="annat" name="gender" value="annat" checked="checked"><label for="annat"> Annat </label></p>
                        </form>
            <div class="bottombutton">
                <button id="sendbutton" type="submit"><img src="/img/sendicon.png" height="25px" width="25px"> Bekräfta din kaffeorder! </button>
            </div>
            </section>
        </main>
        <hr>                                                        <!-- Horizontal line -->
        <footer>COFF's kaffebar &copy; 2020</footer>                <!-- copyright sign -->
    </body>
</html>
