/* Your comment goes here */
@import 'https://fonts.googleapis.com/css?family=Recursive';

body {
    font-family: Recursive, arial, sans-serif;
    font-size: 1.15em;
    max-width: 800px; /*ca 44em*/
    margin: auto;
}

#headline {
    position: absolute;
    margin-top: -3.8em;
    padding-left: 2em;
}

#header {
    height: 200px;
    width: 800px; /*ca 44em*/
    overflow: hidden;
}

.headerimage {
    background-position: left top;
    margin-top: 5px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    opacity: 0.7;
    width: 100%;
    height: 11em;
}

.wrapper {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 225px 225px 225px;
    padding-bottom: 3em;
}

.wrapper * img {
    border-radius: 0.7em;
}

.coffeeTitle {
    text-align: center;
    text-transform: uppercase;
    margin-top: -.5em;
}

.box ul {
    margin-left: -.5em;
    margin-top: 1em;
    font-weight: bold;
}

.box li {
    margin-top: 0.5em;
}

.kaffebild {
    width: 175px;
    height: 175px;
}

.section_menyval {
    background-color: black;
    color: white;
    border: 2px solid black;
    margin: 5px 0px 5px 0px;
}


 .section_menyval h3 {
     padding-top: 1.2em;
 }

.section_menyval * {
    margin-left: 25px;
}

.section_kontaktinfo {
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

.section_kontaktinfo {
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.section_kontaktinfo {
    border: 2px solid black;
}

.section_kontaktinfo input[type*=text] {
    width: 14em;
}

#checked {
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;
}

.checkedCoffee {
    margin-left: 7.5em;
}



.bottomButton {
    text-align: center;
    margin-bottom: 25px;
}


#orderButton {
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s;
}

#orderButton:hover {
    background-color: #86592d;
    transition: 0.5s;
}

#orderButton:active {
  background-color: #ac7339;
  transform: translateY(1px);
  transition: 0.5s;

}

table {
    width: 90%;
    text-align: center;
}

.genderTitle {
    padding-top: 10px;
}

.gender {
    margin: 0;
}

#card {
    margin-left: 250px;
}

#cardnumber {
    font-size: 1.05em;
    height: 25px;
    width: 250px;
    text-align: center;
    border-radius: 5px;
}

#expirydate {
    display: block;
    font-size: 1.05em;
    height: 25px;
    width: 80px;
    text-align: center;
    border-radius: 5px;

}

#cvc {
    display: block;
    font-size: 1.05em;
    height: 25px;
    width: 55px;
    text-align: center;
    border-radius: 5px;
}

.cardlabels {
    font-size: 0.8em;
}

input[type="number"]::-webkit-outer-spin-button, /* Döljer spin-box-pilarna i input type="number"-fomulären */
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

footer {
    margin-bottom: 5px;
}
